.App {
  text-align: center;
}

@font-face {
  font-family: "IRANYekan";
  src: local("IRANYekan"),
    url("./fonts/iranyekanwebregular.ttf") format("truetype");
}
@font-face {
  font-family: "B Yekan";
  src: local("B Yekan"), url("./fonts/B Yekan.ttf") format("truetype");
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
