html,
body {
  height: 100%;
  margin: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "IRANYekan",
    "B Yekan" "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(https://picsum.photos/1000/600/?blur=4) no-repeat center
    center fixed;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root {
  height: 100%;
  margin: 0;
}
@font-face {
  font-family: "IRANYekan";
  src: local("IRANYekan"),
    url("./fonts/iranyekanwebregular.ttf") format("truetype");
}
@font-face {
  font-family: "B Yekan";
  src: local("B Yekan"), url("./fonts/B Yekan.ttf") format("truetype");
}

* {
  scrollbar-color: rgb(187, 187, 255);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
  border-radius: 100px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(245, 245, 245);

  border-radius: 100px;
  /* border: 3px solid orange; */
}

#loadingDot::after {
  display: inline-block;
  animation: ellipsis 1.25s infinite;
  content: ".";
  text-align: left;
}
@keyframes ellipsis {
  0% {
    content: " .";
  }
  33% {
    content: " ..";
  }
  66% {
    content: " ...";
  }
  100% {
    content: " .";
  }
}
